/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.TileLabel .text {
    -fx-fill: black;
}

.XImage {
    -fx-image: url("/tictactoe/resources/images/x_icon.png"); 
}

.OImage {
    -fx-image: url("/tictactoe/resources/images/o_icon.png");
}

.BoardLine {
    -fx-fill: #938C90;
}

.BoardFinishLine {
    -fx-fill: #504949;
}