/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/


.Tab {
    -fx-alignment: center;
    -fx-padding: 0.5em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.SelectedTab {
    -fx-border-width: 0 0 5px 0;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-text-fill: blue;
}

.UnselectedTab { 
    -fx-text-fill: black;
}

.SelectedTab .text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.UnselectedTab .text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
